<div class="main">
    <div class="main-banner">
        <div class="content">
            <div class="overlay" style="background: url('/meta/background.jpg')"></div>
            <div class="text-wrapper">
                <div class="main-title">
                    <span class="no-wrap">
                        iOS 개발자 지망생의 이야기를 담은
                    </span>
                    <span class="no-wrap">
                        블로그입니다.
                    </span>
                </div>
                <div class="sub-title">
                    <span class="no-wrap">
                        블로그의 이름인  <span class="highlight-text">MINiOS</span>는
                    </span>
                    <span class="no-wrap">
                        이름과 iOS를 결합해 만들어졌습니다.
                    </span>
                </div>
                <br/>
                <div class="description">
                    <span class="no-wrap">
                        비전공자인 제가 여러가지 기술을 배워나가는 과정부터,
                    </span>
                    <span class="no-wrap">
                        그 과정에서 일어난 어려움들을 극복한 과정을 기록합니다.
                    </span>
                </div>
                <div class="description">
                    <span class="no-wrap">
                        또, 정신적으로 성장해 나가는 과정또한
                    </span>
                    <span class="no-wrap">
                        블로그를 통해 기록하려고 합니다.
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
